<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,600|Fira+Sans+Condensed:900" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ "assets/imgs/fav.png" | relative_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/imgs/apple_touch_dark_180x180.png" | relative_url }}" />

  {%- feed_meta -%}
  {%- include google-pipelines.html -%}
</head>
