<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <!-- <link rel="stylesheet" href="https://use.typekit.net/qmc4dqr.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,500,600|Fira+Sans+Condensed:900" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ "assets/imgs/fav.png" | relative_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/imgs/apple_touch_light_180x180.png" | relative_url }}" />

  <!-- Square Windows tiles -->
  <!-- <meta name="msapplication-square70x70logo" content="">
  <meta name="msapplication-square150x150logo" content="">
  <meta name="msapplication-square310x310logo" content=""> -->
  <!-- Rectangular Windows tile -->
  <!-- <meta name="msapplication-wide310x150logo" content=""> -->
  <!-- Windows tile theme color -->
  <!-- <meta name="msapplication-TileColor" content="#FF1744"> -->

  {%- feed_meta -%}
  {%- include google-analytics.html -%}
</head>
