
<div class="wrapper">


  <div class="content-container">

    <div class="description">
      <h2>{{ page.menuHeader }}</h2>
      <p>{{ page.menuCopy }}</p>
    </div>

  </div>

  <div class="menu-container">

    <div class="menu-option">
      <img src="{{ page.waffleOneImg }}" alt="{{ page.waffleOneAlt }}">
      <p>{{ page.waffleOneDesc }}</p>
    </div>

    <div class="menu-option">
      <img src="{{ page.waffleTwoImg }}" alt="{{ page.waffleTwoAlt }}">
      <p>{{ page.waffleTwoDesc }}</p>
    </div>

    <div class="menu-option">
      <img src="{{ page.waffleThreeImg }}" alt="{{ page.waffleThreeAlt }}">
      <p>{{ page.waffleThreeDesc }}</p>
    </div>

    <div class="menu-option">
      <img src="{{ page.waffleFourImg }}" alt="{{ page.waffleFourAlt }}">
      <p>{{ page.waffleFourDesc }}</p>
    </div>

    <div class="menu-option dessert">
      <img src="{{ page.waffleFiveImg }}" alt="{{ page.waffleFiveAlt }}">
      <p>{{ page.waffleFiveDesc }}</p>
    </div>

    <div class="menu-option dessert">
      <img src="{{ page.waffleSixImg }}" alt="{{ page.waffleSixAlt }}">
      <p>{{ page.waffleSixDesc }}</p>
    </div>

    <div class="menu-option dessert">
      <img src="{{ page.waffleSevenImg }}" alt="{{ page.waffleSevenAlt }}">
      <p>{{ page.waffleSevenDesc }}</p>
    </div>

    <div class="menu-option dessert">
      <img src="{{ page.waffleEightImg }}" alt="{{ page.waffleEightAlt }}">
      <p>{{ page.waffleEightDesc }}</p>
    </div>



  </div>

  <div id="catering" class="content-container catering-container">

    <div class="description">
      <h2>{{ page.cateringHeader }}</h2>
      <p>{{ page.cateringCopy }}</p>
    </div>

    <a id="eventsFormLink" href="https://docs.google.com/forms/d/e/1FAIpQLSf12rbhLBurClRyM0A2Wbzq4BQIdYy--W8CtpNIqpNxoXxqDQ/viewform" target="_blank" class="button">Catering &amp; Event Form</a>

  </div>

</div>
