
<div class="wrapper">


  <div class="content-container">

    <div class="description">
      <h1>{{ page.aboutWocketHeader }}</h1>
      <p>{{ page.aboutWocketCopy }}</p>
    </div>

    <div class="cta-container">
      <a href="#the-menu" id="about-menu" class="button about-button">View Our Menu</a>
      <a href="#catering" id="about-catering"class="button about-button">Catering Options</a>
      <a href="#upcoming" id="about-upcoming" class="button about-button">Upcoming Events</a>
    </div>

  </div>

</div>
