<!-- HTML elements for search -->

<div class="settings-modal">

  <div class="setting" id="nm-trigger">
    <span>Nightmode</span>

    <div class="toggle-container">
      <span></span>
    </div>
  </div>

  <!-- <div class="setting" id="">
    <span>Notifications</span>

    <div class="toggle-container">
      <span></span>
    </div>
  </div>

  <div class="setting" id="">
    <span>Clear Favorites</span>

    <div class="toggle-container">
      <span></span>
    </div>
  </div> -->

</div>
