
<div class="wrapper">


  <div class="content-container">

    <div class="description">
      <h2>{{ page.menuHeader }}</h2>
      <p>{{ page.menuCopy }}</p>
    </div>

  </div>

  <div class="menu-container">

    <div class="menu-option">
      <img src="{{ page.waffleOneImg }}" alt="{{ page.waffleOneAlt }}">
      <p>{{ page.waffleOneDesc }}</p>
    </div>

    <div class="menu-option">
      <img src="{{ page.waffleTwoImg }}" alt="{{ page.waffleTwoAlt }}">
      <p>{{ page.waffleTwoDesc }}</p>
    </div>

    <div class="menu-option">
      <img src="{{ page.waffleThreeImg }}" alt="{{ page.waffleThreeAlt }}">
      <p>{{ page.waffleThreeDesc }}</p>
    </div>

    <div class="menu-option">
      <img src="{{ page.waffleFourImg }}" alt="{{ page.waffleFourAlt }}">
      <p>{{ page.waffleFourDesc }}</p>
    </div>

    <div class="menu-option dessert">
      <img src="{{ page.waffleFiveImg }}" alt="{{ page.waffleFiveAlt }}">
      <p>{{ page.waffleFiveDesc }}</p>
    </div>

    <div class="menu-option dessert">
      <img src="{{ page.waffleSixImg }}" alt="{{ page.waffleSixAlt }}">
      <p>{{ page.waffleSixDesc }}</p>
    </div>

    <div class="menu-option dessert">
      <img src="{{ page.waffleSevenImg }}" alt="{{ page.waffleSevenAlt }}">
      <p>{{ page.waffleSevenDesc }}</p>
    </div>

    <div class="menu-option dessert">
      <img src="{{ page.waffleEightImg }}" alt="{{ page.waffleEightAlt }}">
      <p>{{ page.waffleEightDesc }}</p>
    </div>

  </div>


  <div class="comare-wockets">
    <div class="content-container">

      <div class="description">
        <h2>{{ page.compareHeader }}</h2>
        <p>{{ page.compareCopy }}</p>
      </div>

    </div>

    <div class="compare-container">

      <div class="compare-info-container">
        <div class="compare-info comparing-one">
          <h3>{{ page.compareSubHeader_One }}</h3>
          <p>{{ page.compareSubCopy_One }}</p>
        </div>
        <div class="compare-info comparing-two">
          <h3>{{ page.compareSubHeader_Two }}</h3>
          <p>{{ page.compareSubCopy_Two }}</p>
        </div>
        <div class="compare-info comparing-three">
          <h3>{{ page.compareSubHeader_Three }}</h3>
          <p>{{ page.compareSubCopy_Three }}</p>
        </div>
      </div>

      <div id="stack-container" class="graphic-container waffle-stack-container">
        <div class="mask-holder">
          <div class="top-half"></div>
          <div class="bottom-half"></div>
        </div>

        <div id="stack-scene" class="graphic truck waffle-stack">


          <!-- Steam Right -->
          <svg version="1.1" data-depth="0.95" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 947 968" style="enable-background:new 0 0 947 968; z-index: 1000" xml:space="preserve">
          <style type="text/css">
            .steamRight0{fill:#FAFAFA;}
          </style>
          <g>
            <path class="steamRight0" d="M794.2,312.5c4.1-5.8,7.7-12.6,7.3-20c-0.4-6.8-4.2-12.8-8.1-18.1c-5.8-8-12.1-16.6-9-27.5
              c-6.7,7.6-10.6,18.6-7.1,29c2.4,7,7.6,13.2,7.2,20.6c-0.4,6.2-4.6,11.1-7.2,16.6c-5.9,12.3-2.7,29,7.1,37.7
              c-4.7-5.1-4.6-13.9-1.9-20.6C785.3,323.6,790.1,318.3,794.2,312.5z"/>
            <path class="steamRight0" d="M750.3,246.7c-0.5-7.4,4.8-13.6,7.2-20.6c3.6-10.4-0.4-21.4-7.1-29c3.1,10.9-3.2,19.5-9,27.5
              c-3.9,5.3-7.7,11.3-8.1,18.1c-0.4,7.3,3.2,14.2,7.3,20c4.1,5.8,9,11.1,11.7,17.8c2.8,6.7,2.9,15.4-1.9,20.6
              c9.8-8.7,13-25.4,7.1-37.7C755,257.7,750.7,252.8,750.3,246.7z"/>
          </g>
          </svg>

          <!-- Steam Left -->
          <svg version="1.1" data-depth="0.5" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 947 968" style="enable-background:new 0 0 947 968; z-index: 1000" xml:space="preserve">
          <style type="text/css">
            .steamLeft0{fill:#FAFAFA;}
          </style>
          <g>
            <path class="steamLeft0" d="M84.1,517.1c4.1-5.8,7.7-12.6,7.3-20c-0.4-6.8-4.2-12.8-8.1-18.1c-5.8-8-12.1-16.6-9-27.5
              c-6.7,7.6-10.6,18.6-7.1,29c2.4,7,7.6,13.2,7.2,20.6c-0.4,6.2-4.6,11.1-7.2,16.6c-5.9,12.3-2.7,29,7.1,37.7
              c-4.7-5.1-4.6-13.9-1.9-20.6C75.1,528.1,79.9,522.8,84.1,517.1z"/>
            <path class="steamLeft0" d="M41.7,559.6c-0.5-7.4,4.8-13.6,7.2-20.6c3.6-10.4-0.4-21.4-7.1-29c3.1,10.9-3.2,19.5-9,27.5
              c-3.9,5.3-7.7,11.3-8.1,18.1c-0.4,7.3,3.2,14.2,7.3,20c4.1,5.8,9,11.1,11.7,17.8c2.8,6.7,2.9,15.4-1.9,20.6
              c9.8-8.7,13-25.4,7.1-37.7C46.3,570.7,42.1,565.8,41.7,559.6z"/>
          </g>
          </svg>


          <!-- Steam Top -->
          <svg version="1.1" data-depth="0.95" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 947 968" style="enable-background:new 0 0 947 968; z-index: 1000" xml:space="preserve">
          <style type="text/css">
            .steamTop0{fill:#FAFAFA;}
          </style>
          <g>
            <path class="steamTop0" d="M428.9,120.7c-0.5-7.4,4.8-13.6,7.2-20.6c3.6-10.4-0.4-21.4-7.1-29c3.1,10.9-3.2,19.5-9,27.5
              c-3.9,5.3-7.7,11.3-8.1,18.1c-0.4,7.3,3.2,14.2,7.3,20c4.1,5.8,9,11.1,11.7,17.8c2.8,6.7,2.9,15.4-1.9,20.6
              c9.8-8.7,13-25.4,7.1-37.7C433.5,131.8,429.2,126.9,428.9,120.7z"/>
            <path class="steamTop0" d="M472.7,86.8c4.1-5.8,7.7-12.6,7.3-20c-0.4-6.8-4.2-12.8-8.1-18.1c-5.8-8-12.1-16.6-9-27.5
              c-6.7,7.6-10.6,18.6-7.1,29c2.4,7,7.6,13.2,7.2,20.6c-0.4,6.2-4.6,11.1-7.2,16.6c-5.9,12.3-2.7,29,7.1,37.7
              c-4.7-5.1-4.6-13.9-1.9-20.6C463.8,97.9,468.6,92.5,472.7,86.8z"/>
          </g>
          </svg>

          <!-- Top Waffle -->
          <svg version="1.1" data-depth="0.8" class="top-stack" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 947 968" style="enable-background:new 0 0 947 968; z-index: 950" xml:space="preserve">
            <style type="text/css">
              .topWaf0{fill:#FBC02D;}
              .topWaf1{opacity:0.3;fill:#FB8C00;}
              .topWaf2{fill:#FF4081;}
              .topWaf3{fill:#FFD600;}
            </style>
            <g>
              <polygon class="topWaf0" points="743,388.1 485.8,536.6 230.2,389.1 230.3,314.6 487.4,218.1 743,313.6 	"/>
              <polygon class="topWaf1" points="317.2,439.2 297.5,427.7 297.5,393.3 317.2,404.8 	"/>
              <path class="topWaf2" d="M467.1,471.5l-141.2-80.1v-0.1l-55.6-31.4L245.9,346v33.4l15.8,9v0l4.2,2.4l0,0c4.9,2.8,8,8,8,13.7v41.3
                c0,10.1,8.1,18.3,18.2,18.5c10.3,0.2,18.8-8.1,18.8-18.5v-19.9c0-4,4-6.6,7.6-5.3L467.1,505V471.5z"/>
              <polygon class="topWaf3" points="743,313.6 485.8,462.1 230.2,314.6 487.4,166.1 	"/>
              <g>
                <polygon class="topWaf0" points="441.4,390.5 486.1,416.3 531,390.3 486.3,364.5 		"/>
                <polygon class="topWaf0" points="507.6,352.2 552.3,378 597.3,352 552.6,326.2 		"/>
                <polygon class="topWaf0" points="618.9,288 573.9,313.9 618.6,339.7 663.6,313.8 		"/>
                <polygon class="topWaf0" points="420.5,326.5 375.5,352.4 420.2,378.2 465.2,352.3 		"/>
                <polygon class="topWaf0" points="441.8,314.2 486.5,340 531.5,314 486.8,288.2 		"/>
                <polygon class="topWaf0" points="552.8,301.7 597.7,275.7 553,249.9 508.1,275.9 		"/>
                <polygon class="topWaf0" points="354.6,288.4 309.6,314.4 354.3,340.2 399.3,314.3 		"/>
                <polygon class="topWaf0" points="465.6,276 420.9,250.2 375.9,276.1 420.6,302 		"/>
                <polygon class="topWaf0" points="531.9,237.7 487.2,211.9 442.2,237.9 486.9,263.7 		"/>
              </g>
            </g>
          </svg>

          <!-- Waffle Mask -->
          <svg version="1.1" data-depth="0.5" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 947 968" style="enable-background:new 0 0 947 968; z-index: 900" xml:space="preserve">
          <style type="text/css">
            .mask0{fill:#FFFFFF;}
          </style>
          <polygon class="mask0" points="919,222 924,544 554.7,329.4 90,598.1 90,302.8 229.6,222 "/>
          </svg>


          <!-- Waffle Shadow -->
          <svg version="1.1" data-depth="0.80" class="bottom-stack top-stack shadow-stack" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 947 968" style="enable-background:new 0 0 947 968; z-index: 800" xml:space="preserve">
          <style type="text/css">
            .waffleShadow0{opacity:0.45;}
            .waffleShadow1{opacity:0.8;fill:#FB8C00;}
          </style>
          <g class="waffleShadow0">
            <polygon class="waffleShadow1" points="819.3,398.8 486.1,592.1 201.6,423.7 534.8,230.4 	"/>
          </g>
          </svg>

          <!-- Bottom Waffle -->
          <svg version="1.1" data-depth="0.5" class="bottom-stack" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 947 968" style="enable-background:new 0 0 947 968; z-index: 750" xml:space="preserve">
            <style type="text/css">
              .bottomWaf0{fill:#FBC02D;}
              .bottomWaf1{fill:#FFD600;}
              .bottomWaf2{opacity:0.3;fill:#FB8C00;}
              .bottomWaf3{fill:#FF4081;}
            </style>
            <g>
              <polygon class="bottomWaf0" points="810.1,551.7 345.9,819.7 90.3,672.1 90.4,597.8 554.5,376.6 810.2,477.2 	"/>
              <polygon class="bottomWaf1" points="810.1,477.2 345.9,745.2 90.3,597.6 554.5,329.6 	"/>
              <g>
                <polygon class="bottomWaf0" points="303.2,672.5 347.9,698.4 392.9,672.4 348.2,646.6 		"/>
                <polygon class="bottomWaf0" points="369.5,634.3 414.2,660.1 459.1,634.1 414.5,608.3 		"/>
                <polygon class="bottomWaf0" points="435.8,596 480.4,621.8 525.4,595.9 480.7,570 		"/>
                <polygon class="bottomWaf0" points="282.3,608.6 237.3,634.5 282,660.3 327,634.4 		"/>
                <polygon class="bottomWaf0" points="303.6,596.3 348.3,622.1 393.3,596.1 348.6,570.3 		"/>
                <polygon class="bottomWaf0" points="459.6,557.8 414.9,532 369.9,558 414.6,583.8 		"/>
                <polygon class="bottomWaf0" points="216.4,570.5 171.5,596.5 216.2,622.3 261.1,596.3 		"/>
                <polygon class="bottomWaf0" points="327.4,558.1 282.7,532.3 237.7,558.2 282.4,584 		"/>
                <polygon class="bottomWaf0" points="393.7,519.8 349,494 304,520 348.7,545.8 		"/>
                <polygon class="bottomWaf0" points="505,556 549.7,581.9 594.6,555.9 550,530.1 		"/>
                <polygon class="bottomWaf0" points="571.3,517.8 616,543.6 660.9,517.6 616.2,491.8 		"/>
                <polygon class="bottomWaf0" points="682.5,453.5 637.5,479.5 682.2,505.3 727.2,479.4 		"/>
                <polygon class="bottomWaf0" points="528.8,517.9 484.1,492.1 439.1,518 483.8,543.8 		"/>
                <polygon class="bottomWaf0" points="595.1,479.6 550.4,453.8 505.4,479.8 550.1,505.6 		"/>
                <polygon class="bottomWaf0" points="616.4,467.3 661.3,441.3 616.6,415.5 571.7,441.5 		"/>
                <polygon class="bottomWaf0" points="462.9,479.8 418.2,454 373.3,480 417.9,505.8 		"/>
                <polygon class="bottomWaf0" points="529.2,441.6 484.5,415.8 439.5,441.7 484.2,467.5 		"/>
                <polygon class="bottomWaf0" points="595.5,403.3 550.8,377.5 505.8,403.5 550.5,429.3 		"/>
              </g>
              <polygon class="bottomWaf2" points="434.5,728.1 464.2,728.1 464.2,751.5 434.5,768.3 	"/>
              <polygon class="bottomWaf2" points="616,623.6 645.7,623.6 645.7,647 616,663.8 	"/>
              <polygon class="bottomWaf2" points="682.1,585.3 711.8,585.3 711.8,608.7 682.1,625.6 	"/>
              <path class="bottomWaf3" d="M791.1,511L755,531.8v-0.1l-155.1,89.5v0l-82.8,47.8V669l-23.5,13.6L362.9,758v33.4l67-38.6v0.1l5-2.9
                c5.5-3.2,12.4,0.7,12.4,7.1V779c0,10.7,8.7,19.3,19.3,19.3h0c10.7,0,19.3-8.7,19.3-19.3v-44.1c0-8.7,4.6-16.8,12-21.3L620.2,643
                c4.6-2.5,10.3,0.8,10.3,6.1v45.1c0,10.1,8.2,18.4,18.4,18.4h0c10.1,0,18.4-8.2,18.4-18.4v-63.4c0-9.3,4.9-17.8,13-22.4l0,0l0,0
                c7.5-4.4,17,1.1,17,9.8v8.3c0,10.1,8.2,18.4,18.4,18.4h0c10.1,0,18.4-8.2,18.4-18.4v-39.8c0-5.6,2.9-10.7,7.5-13.7l49.6-28.6V511z"
                />
            </g>
          </svg>


          <!-- Bottom Shadow -->
          <svg version="1.1" data-depth="0.30" class="bottom-stack shadow-stack" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 947 968" style="enable-background:new 0 0 947 968; z-index: 500" xml:space="preserve">
          <style type="text/css">
            .shadowBottom0{fill:#E6E6E6;}
          </style>
          <polygon class="shadowBottom0" points="771.9,667.1 357,906.6 128.5,774.7 543.4,535.2 "/>
          </svg>


        </div>
      </div>

    </div>
  </div>




  <div id="catering" class="content-container catering-container">

    <div class="description">
      <h2>{{ page.cateringHeader }}</h2>
      <p>{{ page.cateringCopy }}</p>
    </div>

    <a id="eventsFormLink" href="https://docs.google.com/forms/d/e/1FAIpQLSf12rbhLBurClRyM0A2Wbzq4BQIdYy--W8CtpNIqpNxoXxqDQ/viewform" target="_blank" class="button">Catering &amp; Event Form</a>

  </div>

</div>
