---
@import "minima";
---
// Override Minima Generation with above YAML @import. Do. Not. Delete.
@import
  "imports/colors",
  "imports/normalize",
  "imports/import",
  "imports/typo"
;



//
// Global Styles
//
::-webkit-scrollbar {
  background: var(--white);
  border-left: 1px solid var(--black);

  @include transition(background 150ms ease-in-out);
}
::-webkit-scrollbar-thumb {
  background: var(--red);
  border-left: 1px solid var(--black);

  @include transition(background 150ms ease-in-out);
}

html {
  overflow-x: hidden;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: var(--white);
  height: 100%;
  position: relative;
  padding-top: 45px;

  @include transition(background 150ms ease-in-out);
}
// For iOS styles
input {
  border-radius: 0;
}
.open-settings,
.searching {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  position: relative;

  @media (min-width: 720px) {
    max-width: 700px;
    // padding: 0 20px;
  }
  @media (min-width: 1080px) {
    // max-width: 900px;
  }
  @media (min-width: 1200px) {
    // max-width: 1080px;
  }
  @media (min-width: 1600px) {
    // max-width: 1340px;
  }
}
.button {
  background: var(--yellow);
  padding: 12px;
  border-radius: 3px;
  display: block;
}
.button:hover {
  background: var(--red);
  color: var(--white);
}
.line-button {
  background: var(--clear);
  border: 1px solid var(--yellow);
}
.line-button:hover {
  background: var(--yellow);
  border: 1px solid var(--yellow);
}

//
// Navigation Styles
//
header.site-header {
  height: 45px;
  width: 100%;
  background: var(--clear);
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  position: fixed;
  top: 0;
  z-index: 2000;
  box-sizing: border-box;
  background: var(--white);
  border-bottom: 1px solid var(--black);

  @include transition(all 150ms ease-in-out);

  @media (min-width: 720px) {

    @include transition(background 150ms ease-in-out);
  }
}
.nav-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: calc(100% - 100px);

  @media (min-width: 720px) {
    // width: calc(100% - 130px);
  }
}
.settings-toggle,
.search-toggle {
  height: 44px;
  width: 65px;
  background: var(--black);
  margin: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 1000;
  cursor: pointer;

  @include transition(all 150ms ease-in-out);

  @media (min-width: 720px) {
    // right: 25px;
    // top: 15px;
  }
}
.searching .settings-toggle {
  width: 0px;
  padding: 0px;
  overflow: hidden;
}
.settings-toggle .icon-container {
  height: 22px;
  width: 30px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.settings-toggle span {
  display: block;
  background: var(--white);
  height: 3px;
  width: 22px;
  margin: 2px 0;
}
.open-settings .settings-toggle .icon-container span {
  width: 26px;

  position: absolute;
  top: 7px;
}
.open-settings .settings-toggle .icon-container {
  @include rotate(45deg);
}
.open-settings .settings-toggle span:nth-child(2) {
  display: none;
}
.open-settings .settings-toggle span:first-child {
  // top: 7px;

  @include rotate(90deg);
}
.open-settings .settings-toggle span:last-child {
  // display: none;
}
nav.site-nav {
  overflow: hidden;
  height: 0px;
  position: absolute;

  @include transition(all 125ms ease-in-out);

  @media (min-width: 720px) {
    height: auto;
  }
}
.site-title svg {
  width: 100px;
  // @include rotate(90deg);

  @media (min-width: 720px) {
    // width: 150px;
    // @include rotate(0deg);
  }
}
.site-title {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 80px;
  margin: 0;
  padding: 12px 10px;

  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);

  @include transition(all 125ms ease-in-out);

  @media (min-width: 720px) {
    width: 100px;
    height: 30px;
    padding: 8px 20px;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
}
.site-title:hover {
  background: var(--red);
}
.brand-name {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

//
// Menu / Settings Styles
//
.settings-modal {
  height: 100%;
  width: auto;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
  background: var(--white);
  border-left: 1px solid var(--black);
  pointer-events: none;

  position: fixed;
  top: 45px;
  right: -300px;
  z-index: 1001;
  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include transition(all 125ms ease-in-out);
  // @include box-shadow(0px 2px 5px var(--black-op-25));

  @media (min-width: 720px) {
    padding: 0px 20px 0px 30px;
  }
}
.open-settings .settings-modal {
  opacity: 1;
  pointer-events: all;
  padding: 20px 40px;

  right: 0;
}
.setting {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  cursor: pointer;
  width: 180px;
  padding: 5px 0;
}
.toggle-container {
  height: 20px;
  width: 40px;
  background: var(--medgrey);
  border-radius: 40px;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  @include transition(all 125ms ease-in-out);
}
.setting:hover .toggle-container {
  background: var(--darkgrey);
}
.toggle-container span {
  height: 14px;
  width: 14px;
  display: block;
  background: var(--white);
  border-radius: 20px;

  position: absolute;
  left: 4px;

  @include transition(all 125ms ease-in-out);
  @include box-shadow(0px 2px 5px var(--black-op-25));
}


//
// Search Styles
//
.search-modal {
  height: 0;
  max-height: 300px;
  width: 100%;
  padding: 0px 20px;
  margin: auto;
  box-sizing: border-box;
  background: var(--white);
  border-bottom: 0px solid var(--clear);

  position: fixed;
  top: 45px;
  left: 0;
  z-index: 1001;

  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include transition(all 125ms ease-in-out);
  // @include box-shadow(0px 2px 5px var(--black-op-25));

  @media (min-width: 720px) {
    padding: 0px 20px 0px 30px;
  }

  ::-webkit-scrollbar {
    background: var(--white);
    border: 1px solid var(--black);

    @include transition(background 150ms ease-in-out);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--red);
    border: 1px solid var(--black);

    @include transition(background 150ms ease-in-out);
  }
}
.typing .search-modal {
  padding: 10px 20px 10px 30px;
  border-bottom: 1px solid var(--black);
  height: auto;
}
.searching .search-modal {
  opacity: 1;
  pointer-events: all;
  max-height: calc(100% - 395px);
}
.search-input {
  border: none;
  background: var(--clear);
  height: 45px;
  width: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 500;
  opacity: 0;
  pointer-events: none;
  border-left: 1px solid var(--clear);

  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: lowercase;
  color: var(--black);

  @include transition(all 125ms ease-in-out);

  @media (min-width: 720px) {
    font-size: 20px;
  }
}
.searching .search-input {
  width: calc(100% - 130px);
}

.searching .search-input {
  opacity: 1;
  pointer-events: all;

  height: 45px;
  width: calc(100% - 50px);
  margin: 0;
  padding: 10px 20px;
  box-sizing: border-box;
  border-left: 1px solid var(--black);

  @media (min-width: 720px) {
    padding: 10px 15px;
  }
}
.site-title .tldr0,
.site-title  .tldr0 {
  fill: var(--red);

  @include transition(all 150ms ease-in-out);
}
.site-title .tldr1,
.site-title  .tldr1 {
  fill: var(--black);

  @include transition(all 150ms ease-in-out);
}
.site-title:hover .tldr0,
.site-title:hover  .tldr0,
.site-title:hover .tldr1,
.site-title:hover  .tldr1 {
  fill: var(--white);

}

.site-header ::placeholder {
  color: var(--black);
}
.site-header input:focus {
  outline: none;
}
.search-results {
  overflow-y: scroll; /* has to be scroll, not auto */
 -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}
.search-results h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: initial;
  padding-top: 0;
  color: var(--grey);

  @media (min-width: 720px) {
    font-size: 32px;
  }
}
.search-results.post-list {
  margin: 0 auto;
  display: block;

  @media (min-width: 720px) {
    margin: 0px auto;
  }
}
.search-results.post-list li {
  width: 100%;
}

.search-results.post-list li:last-child {
  border-bottom: 0px solid var(--clear);
}
.search-results.post-list a {
  padding: 15px 0;
  text-decoration: none;
  display: block;
  position: relative;

  font-size: 18px;

  @media (min-width: 720px) {
    font-size: 28px;
  }

}
.search-results.post-list a:focus {
  padding-left: 5px;
  border-bottom: 1px solid var(--red);
  outline: none;
  width: 100%;
  margin-left: 0;
  box-shadow: none;
}

// Search Toggle
.search-toggle {
  background: var(--red);
  flex-direction: row;
  // justify-content: flex-end;
  margin: 0px;

  // @include rotate(0deg);
  // @include box-shadow(0px 2px 5px var(--black-op-25));
  // @include transition(all 150ms ease-in-out);

  @media (min-width: 720px) {
    // right: 25px;
    // top: 15px;
  }
}
.search-toggle .icon-container {
  height: 26px;
  width: 26px;
  margin: 10px;

  @include rotate(45deg);
  @include transition(all 75ms ease-in-out);
}
.search-toggle .icon-container span {
  height: 3px;
  width: 26px;
  background: var(--white);
  display: block;

  position: relative;
  top: 12px;
  left: 0px;

  @include rotate(90deg);
}
.search-toggle .icon-container span:first-child {
  height: 12px;
  width: 12px;
  background: transparent;
  border: 3px solid white;
  border-radius: 20px;
  display: block;

  position: relative;
  top: 5px;
  left: -1px;
}
.search-toggle .icon-container span:last-child {
  top: -5px;
  left: 16px;
  width: 10px;

  @include rotate(0deg);
}

.searching .search-toggle .icon-container span {
  height: 3px;
  width: 26px;
  background: var(--white);
  border: 0px solid var(--clear);
  display: block;

  position: relative;
  top: 12px;
  left: 0px;

  @include rotate(90deg);
}

.searching .search-toggle .icon-container span:last-child {
  top: 9px;
  left: 0px;

  @include rotate(0deg);
}





//
// General Styles
//
main {
  background: var(--white);

  @include transition(all 300ms ease-in-out);
}
main.page-content {
  // height: calc(100% - 85px);
}



//
// Homepage Styles
//
.content-container {
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;

  @media (min-width: 520px) {
    padding: 0 40px;
  }
  @media (min-width: 720px) {
    max-width: 680px;
  }
  @media (min-width: 1080px) {
    max-width: 680px;
  }
  @media (min-width: 1300px) {
    max-width: 90%;
  }
}
.cta-container {
  display: flex;
  flex-direction: column;

  @media (min-width: 520px) {
    flex-direction: row;
  }
}
.cta-container .button {
  margin: 5px 0;

  @media (min-width: 520px) {
    margin: 0 5px;
  }
  @media (min-width: 720px) {
    margin: 30px auto;
  }
}
.cta-container .button:first-child {
  margin-left: 0;
}
.cta-container .button:last-child {
  margin-right: 0;
}

section {
  padding: 45px 0px;
}




//
// Master List
//
.master-list {
  background: var(--white);
  min-height: calc(100% - 90px);

  @include transition(background 150ms ease-in-out);
}
.master-list .wrapper {

  @media (min-width: 1080px) {
    max-width: 100%;
  }
}
.master-list .content-container {

  @media (min-width: 1080px) {
    max-width: 980px;
  }
}
.list-head-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: 1080px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.filter-container {
  width: auto;
  position: relative;
  height: auto;
  margin: 25px auto;
  width: 100%;

  @media (min-width: 720px) {
    display: block;
    margin: 40px auto 25px;
    max-width: 680px
  }
  @media (min-width: 1080px) {
    // margin: 40px 0 25px;
  }
}
.toggles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 1080px) {
    // justify-content: flex-start;
  }
}
.toggles span {
  padding: 0;
  cursor: pointer;
  z-index: 1000;
  padding: 5px 10px;

  @media (min-width: 720px) {
    padding: 5px 20px;
  }
}
.highlight {
  height: 5px;
  // width: 66px;
  background: var(--red);
  position: absolute;
  // top: 32px;
  // left: 39px;
  // display: block;

  @include transition(all 175ms ease-in-out);

  @media (min-width: 720px) {
    // width: 76px;
    // top: 32px;
    // left: 26.5px;
  }
}
.post-list {
  padding: 0;
  display: none;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 20px auto;

  @media (min-width: 720px) {
    flex-direction: column;
  }
}
.post-list.active-list {
  display: flex;
}
.post-list li {
  border-bottom: 1px solid var(--grey);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include transition(all 150ms ease-in-out);

  @media (min-width: 720px) {
  }
  @media (min-width: 1080px) {
  }
  @media (min-width: 1600px) {
  }
}
.post-list li:hover {
  padding-left: 5px;
  border-bottom: 1px solid var(--black);
  outline: none;
}
.favorite-flag {
  height: 20px;
  width: 20px;
  display: block;
  padding: 10px;
  cursor: pointer;
  position: relative;

  @include transition(all 125ms ease-in-out);
}
.favorite-flag:active,
.favorite-flag:focus {
  top: 2px;
}
.favorite-flag svg {
  height: 100%;
  width: 100%;
  fill: var(--grey);

  @include transition(all 125ms ease-in-out);
}
.favorite-flag:hover svg {
  fill: var(--medgrey);
}
.favorite .favorite-flag svg {
  fill: var(--gold);
}
.favorite .favorite-flag:hover svg {
  fill: var(--gold-hover);
}
.post-time {
  display: block;
}
.post-link {
  display: block;
  padding: 15px 0;
  position: relative;

  @media (min-width: 720px) {
    height: calc(100% - 100px);
  }
}
.double-arrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.double-arrow svg {
  fill: var(--white);
  height: 25px;
  width: 35px;

  @include transition(all 175ms ease-in-out);
}
a.post-link:hover .double-arrow svg {
  fill: var(--red);
}


//
// Notification Styles
//
.overlay-mask {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
  background: var(--black-op-25);
  height: 100%;
  width: 100%;

  @include transition(all 300ms ease-in-out);
}
.night-mode .overlay-mask {
  background: var(--ultrablack-op-25);
}
.open-settings .overlay-mask,
.searching .overlay-mask,
.open-notification .overlay-mask {
  opacity: 1;
  pointer-events: all;
}
.notification-banner {
  position: fixed;
  z-index: 1050;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  top: -45px;
  left: 10px;
  width: calc(100% - 20px);
  height: auto;
  padding: 25px 30px;
  opacity: 0;
  box-sizing: border-box;
  border-radius: 5px;
  background: var(--white);
  pointer-events: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  @include transition(all 300ms ease-in-out);
  @include transition-delay(100ms);
  @include box-shadow(0px 2px 5px var(--black-op-25));

}
.open-notification .notification-banner {
  transform: translate3d(0px, 55px, 0px);
  -webkit-transform: translate3d(0px, 55px, 0px);
  opacity: 1;
  pointer-events: all;
}
.close-button-trigger {
  position: absolute;
  height: 100%;
  width: 60px;
  background: var(--clear);
  right: 0;
  top: 0;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.close-button {
  height: 20px;
  width: 20px;
  position: relative;

  @include rotate(180deg);
  @include transition(all 450ms ease-in-out);
}
.open-notification .close-button {
  @include rotate(45deg);
}
.close-button span {
  display: block;
  position: absolute;
  top: 9px;
  left: 3px;
  height: 2px;
  width: 14px;
  background: var(--black);
}
.close-button span:last-child {
  @include rotate(90deg);
}
.twemoji-holster {
  height: 50px;
  width: 50px;
  margin: 20px 0 35px;
  opacity: 0;

  @include rotate(-30deg);
  @include transition(all 300ms ease-in-out);
  @include transition-delay(100ms);
}
.open-notification .twemoji-holster {
  @include rotate(0deg);
  opacity: 1;
}
.twemoji-holster svg {
  height: 50px;
  width: 50px;
  @include transform(-20px, -45px, 0);
  @include transition(all 300ms ease-in-out);
  @include transition-delay(100ms);
}
.open-notification .twemoji-holster svg {
  @include transform(0, 0, 0);
}

//
// Post Styles
//
.recipe-book {
  height: auto;
  position: relative;

  @include transition(all 125ms ease-in-out);
}
.recipe-book.open-book {
  top: 0;
}
.show-nav {
  position: fixed;
  height: 40px;
  width: 40px;
  background: var(--white);
  top: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 30px;

  @include box-shadow(0px 2px 4px var(--black-op-25));
  @include transition(all 125ms ease-in-out);
}
.open-book .show-nav {
  top: 105px;
}

.footnote {
  text-align: left;
  font-size: 10px;
  text-transform: lowercase;
  padding: 0 20px;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;

  @include transition(opacity 125ms ease-in-out);
}
.footnote:hover {
  opacity: 1;
}
.footnote img.emoji {
  height: 12px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin: 0 3px;
}
.recipe-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 720px;
  margin: 0 auto;

  @media (min-width: 720px) {
    flex-direction: row;
    // align-items: flex-start;
    padding: 25px 25px 0;
  }
  @media (min-width: 860px) {
    max-width: 800px;
  }
  @media (min-width: 1200px) {
    max-width: 960px;
  }
}

.recipe-media {
  width: 100%;
  max-width: 100%;

  @media (min-width: 720px) {
    // max-width: 200px;
    margin: 0 45px 0 0;
  }
  @media (min-width: 860px) {
    max-width: 400px;
    margin: 0 45px 0 0;
  }
  @media (min-width: 1200px) {
    max-width: 420px;
  }
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (min-width: 720px) {
    // flex-direction: row;
  }
}

// Recipe Header
.post-title {
  padding: 30px 0px 0px;
  max-width: 500px;

  @media (min-width: 450px) {

  }
  @media (min-width: 720px) {
    padding: 0;
    margin: 0;
  }
}
.nutrition-container {
  padding: 0;

  @media (min-width: 720px) {
    padding: 0;
  }
}
.recipe-book img {
  max-width: 100%;
  margin: 0 auto;
  align-self: flex-start;

  @media (min-width: 720px) {
    position: fixed;
    max-width: 400px;
  }
  @media (min-width: 1200px) {
    max-width: 420px;
  }
}
.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background: var(--grey);
  padding: 30px 0 20px;

  @include transition(background 150ms ease-in-out);

  @media (min-width: 720px) {
    height: 210px;
    padding: 0;
    margin: 0 45px 0 0;
    position: fixed;
    max-width: 320px;
  }
  @media (min-width: 860px) {
    height: 280px;
    margin: 0 45px 0 0;
    max-width: 400px;
  }
  @media (min-width: 1200px) {
    max-width: 420px;
  }
}
.recipe-book img.emoji {

  @media (min-width: 720px) {
    margin: 0 auto;
    position: relative;
  }
}
.twemoji {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe-details {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 720px) {
    padding: 0;
    width: 100%;
  }
}
.recipe-container {
  width: 100%;

  @media (min-width: 720px) {
    width: 50%;
  }
}
.portion-container,
.cal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.portion-container {
  border-top: 8px solid var(--black);

  @include transition(all 150ms ease-in-out);
}
.per-serving-container {
  margin-bottom: 20px;
}
.portion-container,
.cal-container {
  padding: 10px 2px;
  border-bottom: 1px solid var(--medgrey);

  @include transition(all 150ms ease-in-out);
}
.macro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.macro {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 10px 2px;
  border-bottom: 1px solid var(--medgrey);
  box-sizing: border-box;

  @include transition(all 150ms ease-in-out);
}
.macro:nth-child(odd){
  border-right: 1px solid var(--medgrey);
  padding-right: 10px;
}
.macro:nth-child(even){
  border-right: 0px solid var(--clear);
  padding-left: 10px;
}
.prep-time,
.cook-time,
.prep-time div,
.cook-time div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  padding: 8px 0;
}
.prep-time {
  border-bottom: 1px solid var(--medgrey);

  @include transition(all 150ms ease-in-out);
}
.prep-time div,
.cook-time div {
  padding: 0px 0;
}
.icon {
  height: 20px;
  width: 20px;
  display: block;
  margin-right: 5px;
}
.icon svg {
  height: 20px;
  width: 20px;

  @include transition(all 150ms ease-in-out);
}
.recipe-content {
  // height: 100%;
  // background: var(--white);
  padding: 10px 0 40px;

  @include transition(background 150ms ease-in-out);

  @media (min-width: 450px) {
    padding: 15px 0 40px;
  }
  @media (min-width: 720px) {
    padding: 25px 0 40px;
  }
}
.date-time {
  background: var(--yellow);
  display: flex;
  flex-direction: column;
  padding: 10px 25px;

  @media (min-width: 450px) {
    padding: 15px 50px;
  }
  @media (min-width: 720px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
  }
}

.favorite-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 20px;
}
.favorite-container .favorite-flag {
  padding-left: 0;
}
.fav-descrition {
  text-transform: lowercase;
  font-style: italic;
  font-size: 14px;

  @include transition(color 150ms ease-in-out);
}

// Grocery List
.list {
  margin-bottom: 20px;
}
.recipe-content li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}
ol.instruction-list {
  counter-reset: item;
  padding: 0 0 0 30px;
}
ol.instruction-list li {
  display: block;
  position: relative;
  margin: 15px 0;
}
ol.instruction-list li:before {
  font-weight: 600;
  font-size: 17px;
  content: counter(item) ". ";
  counter-increment: item;
  color: var(--red);

  position: absolute;
  left: -26px;
  top: -2px;
}
ol.instruction-list li.toggled:before {
  font-style: normal;
}
.list-toggle {
  height: 20px;
  width: 20px;
  margin: 0 10px 0 0;
  padding: 4px;
  box-sizing: border-box;
  display: inline-block;
  background: var(--grey);

  @include transition(background 150ms ease-in-out);
}
.list-toggle span {
  height: 12px;
  width: 12px;
  display: block;
  opacity: 0;
}
.toggled .list-toggle span {
  opacity: 1;
  background: var(--red);

  @include transition(opacity 125ms ease-in-out);
}

// Copy Button
.copy-button-holster {
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  max-width: 720px;
  pointer-events: none;
  z-index: 1000;
  margin-top: 40px;
}
.copy-button {
  background: var(--red);
  padding: 20px 10px;
  text-align: center;
  cursor: pointer;
  pointer-events: all;
  width: 100%;
  box-sizing: border-box;

  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  @include transition(all 225ms ease-in-out);
  @include box-shadow(0px 1px 4px var(--black-op-25));

  @media (min-width: 720px) {
    // max-width: 110px;
  }
}
.copy-button.hide-it {
  transform: translate3d(0px, 75px, 0px);
  -webkit-transform: translate3d(0px, 75px, 0px);
}


// Video Player
.video-controls-holster {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  @media (min-width: 1250px) {
    flex-direction: column;
  }
}
.ios-controls .video-controls-holster {
  justify-content: flex-start;
}
.video-btn {
  padding: 20px 15px;
  border-radius: 50px;
  font-size: 10px;
  color: var(--red);
  cursor: pointer;
  height: 30px;
  width: 30px;

  // @include box-shadow(0px 1px 3px var(--black-op-25));
}
.ios-controls .video-btn {
  height: 45px;
  width: 45px;
}
.video-holster {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 720px) {
    position: fixed;
    max-width: 400px;
  }
  @media (min-width: 1200px) {
    max-width: 420px;
  }
}
.main-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.video-btn svg {
  fill: var(--red);
  height: 100%;
  width: 100%;

  @include transition(all 150ms ease-in-out);
}
.video-btn:hover svg {
  fill: var(--black);
}
.back-btn,
.fwd-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back-btn svg,
.fwd-btn svg {
  height: 30px;
}
.ios-controls .back-btn,
.ios-controls .fwd-btn {
  display: none;
}
#play-btn {
  width: 30px;
  height: 30px;
  // background: var(--white);
  padding: 20px;

  // @include rotate(180deg);
  @include transition(background 150ms ease-in-out);
}
#play-btn div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 100%;
  width: 100%;

  // @include rotate(180deg);
  @include transition(all 125ms ease-in-out);
}
#play-btn span {
  display: block;
  height: 0;
  width: 0;
  background: var(--red);

  @include transition(all 125ms ease-in-out);
}
#play-btn:hover span {
  background: var(--black);
}
#play-btn span:first-child {
  border: 0px solid transparent;
  height: 30px;
  width: 10px;
}
#play-btn span:last-child {
  height: 30px;
  width: 10px;
}
.play-video #play-btn {
  padding: 20px 16px 20px 24px;
}
.play-video #play-btn div {

  // @include rotate(0deg);
}
.play-video #play-btn span {
  background: var(--clear);
  height: 0;
  width: 0;
}
.play-video #play-btn span:first-child {
  border-top: 15px solid transparent;
  border-left: 30px solid var(--red);
  border-bottom: 15px solid transparent;
}
.ios-controls #play-btn {
  padding: 20px 16px 20px 24px;
}
.ios-controls #play-btn span {
  background: var(--clear);
  height: 0;
  width: 0;
}
.ios-controls #play-btn span:first-child {
  border-top: 15px solid transparent;
  border-left: 30px solid var(--red);
  border-bottom: 15px solid transparent;
}
.play-video #play-btn:hover span:first-child {
  border-top: 15px solid transparent;
  border-left: 30px solid var(--black);
  border-bottom: 15px solid transparent;
}
.ios-controls #play-btn:hover span:first-child {
  border-top: 15px solid transparent;
  border-left: 30px solid var(--black);
  border-bottom: 15px solid transparent;
}
.play-video #play-btn span:last-child {
  width: 0;
  height: 0;
}

form {
  height: 0;
  position: fixed;
  right: 200%;
  top: 50%;
  display: block;
}

//
// Footer Styles
//
footer {
  background: var(--black);
  margin: 0;
  padding: 20px;
}
.social-container {
  overflow: auto;
}
.social-container ul {
  width: 150px;
  margin: 30px auto 20px;
  padding: 0;
}
.social-media-list svg {
  height: 30px;
  width: 30px;
}
.social-media-list li {
  margin: 10px;
  display: inline-block;
}








@import
  "imports/night-mode"
;
//
