//
// Color Variables
//
:root {
  --clear: transparent;

  --white: #ffffff;
  --grey: #eeeeee;
  --medgrey: #e0e0e0;
  --darkgrey: #bdbdbd;
  --medblack: #37474F;
  --black: #263238;
  --ultrablack: #151B1D;

  --red: #FF1744;
  --aqua: #1DE9B6;
  --darkblue: #311B92;
  --yellow: #ffff00;
  --gold: #FFD54F;
  --gold-hover: #FFB450;

  --black-op-25: rgba(38, 50, 58, 0.25);

  --ultrablack-op-25: rgba(21, 27, 29, 0.25);
}
