//
// Color Variables
//
$clear: transparent;
$white: #ffffff;
$grey: #eeeeee;
$medgrey: #e0e0e0;
$darkgrey: #bdbdbd;
$medblack: #37474F;
$black: #263238;
$ultrablack: #151B1D;

$red: #FF1744;
$aqua: #1DE9B6;
$darkblue: #311B92;
$yellow: #ffff00;
$gold: #FFD54F;
$gold_hover: #FBC02D;
$rgbaBlack-0: rgba(38, 50, 58, 0);
$rgbaBlack-05: rgba(38, 50, 58, 0.05);
$rgbaBlack-25: rgba(38, 50, 58, 0.25);




//
// Z-Index Variables
//
$zIndex-0:     0;
$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;


//
// Mixins
//

// Transitions
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    transition: $args;
}
@mixin transition-delay($val...){
    -webkit-transition-delay: ($val);
    -moz-transition-delay: ($val);
    transition-delay: ($val);
}

// Box Shadows
@mixin box-shadow($str...) {
    -webkit-box-shadow: $str;
    -moz-box-shadow:  $str;
    box-shadow: $str;
}
@mixin box-shadow($str, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $str;
        -moz-box-shadow:inset $str;
        box-shadow:inset $str;
    } @else {
        -webkit-box-shadow: $str;
        -moz-box-shadow: $str;
        box-shadow: $str;
    }
}

// Transforms + Rotates
@mixin transform($val...) {
    -webkit-transform: translate3d($val);
    -moz-transform: translate3d($val);
    -ms-transform: translate3d($val);
    transform: translate3d($val);
}
@mixin rotate($val...) {
    -webkit-transform: rotate($val);
    -moz-transform: rotate($val);
    -ms-transform: rotate($val);
    -o-transform: rotate($val);
    transform: rotate($val);
}

// Gradients
@mixin linearGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
@mixin diagonalGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $top 1%, $bottom 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $top 1%, $bottom 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $top 1%, $bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64293', endColorstr='#c345ab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}










//
