//
// Night Mode
//
.nm-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nm-toggle span {
  display: block;
  height: 20px;
  width: 20px;
  background: black;
  cursor: pointer;
}


.night-mode::-webkit-scrollbar {
  @include var(background, black);
}
.night-mode::-webkit-scrollbar-thumb {
  @include var(background, ultrablack);
}
body.night-mode {
  @include var(background, black);
}
.night-mode header.site-header {
  @include var(background, ultrablack);
  @include border(border-bottom, 1px, solid, true-black);
}
.searching .night-mode .search-toggle .icon-container span {
  @include var(background, ultrablack);
}
.searching .night-mode .search-toggle .icon-container span:first-child {
  @include var(background, ultrablack);
  @include border(border, 0px, solid, clear);
}

.night-mode {
  *::-moz-selection {
    @include var(background, ultrablack);
    @include var(color, white);
  }
  *::selection {
    @include var(background, ultrablack);
    @include var(color, white);
  }
  main,
  .master-list {
    @include var(background, black);
  }
  .tldr0,
  .tldr0  {
    @include var(fill, aqua);
  }
  .tldr1,
  .tldr1 {
    @include var(fill, white);
  }
  .site-title:hover {
    @include var(background, aqua);

    .tldr0,
    .tldr0,
    .tldr1,
    .tldr1 {
      @include var(fill, ultrablack);
    }
  }
  .highlight {
    @include var(background, aqua);
  }
  .list-button-container {

    .setting {

      &#custom-trigger {
        @include var(background, ultrablack);

        &:hover {
          @include var(background, true-black);
        }
      }
      &#random-trigger {
        @include var(background, aqua);

        span {
          @include var(color, ultrablack);
        }
        svg {
          @include var(fill, ultrablack);
        }
        &:hover {
          @include var(background, aqua-hover);
        }
      }

    }
  }
  .toggles h5 {
    @include var(color, medblack);
  }
  .search-toggle {
    @include var(background, aqua);

    span {
      @include var(background, ultrablack);
    }
  }
  .overlay-mask {
    @include var(background, true-black-op-75);
  }
  .search-toggle:hover {
    @include var(background, aqua-hover);
  }
  .search-toggle .icon-container span:first-child {
    @include var(background, clear);
    @include border(border, 3px, solid, ultrablack);
  }
  .search-input {
    @include var(color, white);
  }
  .search-input::placeholder {
    @include var(color, white);
  }
  .search-modal {
    @include var(background, ultrablack);
  }
  .search-results.post-list a {
    @include var(color, white);
  }
  .search-results.post-list a:focus {
    @include border(border-bottom, 1px, solid, aqua);
  }
  .settings-modal {
    @include var(background, ultrablack);
    @include border(border-left, 1px, solid, true-black);
  }
  .settings-modal span {
    @include var(color, white);
  }
  .setting {

    &.disabled {
      opacity: 0.2;
    }

    &.button {
      //

      span {
        //
      }
    }
    &#nm-trigger {
      @include var(background, gold);

      .night-copy {
        display: none;
        opacity: 0;
      }
      .day-copy {
        display: block;
        opacity: 1;
      }

      &:hover {
        @include var(background, gold-hover);
      }
      span {
        @include var(color, ultrablack);
      }
    }
  }

  #nm-trigger .icon svg {
    @include var(fill, ultrablack);

    &.moon {
      opacity: 0;
      @include rotate(180deg);
    }
    &.sun {
      opacity: 1;
      @include rotate(0deg);
    }
  }

  // Recipe Page
  .recipe-content {
    // @include var(background, black);
  }
  .coming-soon {
    @include var(background, medblack);
  }
  .recipe-page h4 {
    @include var(color, white);
  }
  .recipe-page h5 {
    @include var(color, aqua);
  }
  .more-info {
    @include border(border, 2px, solid, white);

    > span {
      @include var(color, white);
    }

    &:hover {
      @include border(border, 2px, solid, aqua);

      > span {
        @include var(color, aqua);
      }
    }
  }
  .info-message {
    @include var(background, ultrablack);
    @include box(box-shadow, 0px, 0px, 5px, ultrablack-op-25);
    @include var(color, white);

    a {
      @include var(color, white);

      &:hover {
        @include var(color, aqua);
      }
    }
  }
  .portion-container {
    @include border(border-top, 8px, solid, white);
  }
  .portion-container,
  .cal-container,
  .macro,
  .prep-time {
    @include border(border-bottom, 1px, solid, medblack);
  }
  .macro:nth-child(odd){
    @include border(border-right, 1px, solid, medblack);
  }
  .macro:nth-child(even){
    @include border(border-right, 0px, solid, clear);
  }
  .nutrition-container .disabled span,
  .nutrition-container .disabled strong {
    @include var(color, medblack);
  }
  .icon svg {
    @include var(fill, white);
  }
  .list-toggle {
    @include var(background, ultrablack);
  }
  .toggled .list-toggle span {
    @include var(background, aqua);
  }
  .copy-button {
    @include var(background, aqua);
    @include var(color, ultrablack);
  }
  .copy-button:hover {
    @include var(background, aqua-hover);
  }

  .video-btn svg {
    @include var(fill, aqua);
  }
  .video-btn:hover svg {
    @include var(fill, white);
  }
  #play-btn {
    // @include var(background, clear);
  }
  .play-video #play-btn span:first-child {
    @include border(border-top, 15px, solid, clear);
    @include border(border-left, 30px, solid, aqua);
    @include border(border-bottom, 15px, solid, clear);
  }
  .play-video #play-btn span {
    @include var(background, clear);
  }
  #play-btn span {
    @include var(background, aqua);
  }
  .play-video #play-btn:hover span:first-child {
    @include border(border-top, 15px, solid, clear);
    @include border(border-left, 30px, solid, white);
    @include border(border-bottom, 15px, solid, clear);
  }
  .play-video #play-btn:hover span {
    @include var(background, clear);
  }
  #play-btn:hover span {
    @include var(background, white);
  }



  // Typo Changes
  h1,
  h2,
  h3 {
    @include var(color, aqua);
  }
  h3 {
    @include var(color, white);
  }
  .filter-container span {
    @include var(color, medblack);
  }
  .filter-container span.active-filter,
  .filter-container span:hover {
     @include var(color, white);
  }
  .post-link {
    @include var(color, white);
  }
  .post-list li:hover {
    @include border(border-bottom, 1px, solid, aqua);
  }
  .post-list li:hover a {
    @include var(color, aqua);
  }
  .fav-descrition {
    @include var(color, white);
  }
  .nutrition-container span,
  .nutrition-container strong {
    @include var(color, white);
  }
  .recipe-content li {
    @include var(color, white);
  }
  .recipe-content li.toggled {
    @include var(color, darkgrey);
  }
  ol.instruction-list li:before {
    @include var(color, aqua);
  }
}
