//
// Night Mode
//
.nm-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nm-toggle span {
  display: block;
  height: 20px;
  width: 20px;
  background: black;
  cursor: pointer;
}


.night-mode::-webkit-scrollbar {
  background: var(--black);
}
.night-mode::-webkit-scrollbar-thumb {
  background: var(--ultrablack);
}
body.night-mode {
  background: var(--black);
}
.night-mode header.site-header {
  background: var(--ultrablack);
  border-bottom: 1px solid var(--true-black);
}
.searching .night-mode .search-toggle .icon-container span {
  background:  var(--ultrablack);
}
.searching .night-mode .search-toggle .icon-container span:first-child {
  background:  var(--ultrablack);
  border: 0px solid  var(--clear);
}

.night-mode {
  *::-moz-selection {
    background: var(--ultrablack);
    color: var(--white);
  }
  *::selection {
    background: var(--ultrablack);
    color: var(--white);
  }
  main,
  .master-list {
    background: var(--black);
  }
  .tldr0,
  .tldr0  {
    fill: var(--aqua);
  }
  .tldr1,
  .tldr1 {
    fill: var(--white);
  }
  .site-title:hover {
    background:  var(--aqua);

    .tldr0,
    .tldr0,
    .tldr1,
    .tldr1 {
      fill: var(--ultrablack);
    }
  }
  .highlight {
    background: var(--aqua);
  }
  .search-toggle {
    background: var(--aqua);

    span {
      background: var(--ultrablack);
    }
  }
  .search-toggle:hover {
    background: var(--aqua-hover);
  }
  .search-toggle .icon-container span:first-child {
    background:  var(--clear);
    border: 3px solid  var(--ultrablack);
  }
  .search-input {
    color: var(--white);
  }
  .search-input::placeholder {
    color: var(--white);
  }
  .search-modal {
    background: var(--ultrablack);
  }
  .search-results.post-list a {
    color: var(--white);
  }
  .search-results.post-list a:focus {
    border-bottom: 1px solid var(--aqua);
  }
  .settings-modal {
    background: var(--ultrablack);
    border-left: 1px solid var(--true-black);
  }
  .settings-modal span {
    color: var(--white);
  }
  #nm-trigger .toggle-container {
    background: var(--aqua);
  }
  #nm-trigger .toggle-container span {
    left: 22px
  }

  // Recipe Page
  .recipe-content {
    // background: var(--black);
  }
  .coming-soon {
    background: var(--medblack);
  }
  .recipe-page h4 {
    color: var(--white);
  }
  .recipe-page h5 {
    color: var(--aqua);
  }
  .portion-container {
    border-top: 8px solid var(--white);
  }
  .portion-container,
  .cal-container,
  .macro,
  .prep-time {
    border-bottom: 1px solid var(--medblack);
  }
  .macro:nth-child(odd){
    border-right: 1px solid var(--medblack);
  }
  .macro:nth-child(even){
    border-right: 0px solid var(--clear);
  }
  .nutrition-container .disabled span,
  .nutrition-container .disabled strong {
    color: var(--medblack);
  }
  .icon svg {
    fill: var(--white);
  }
  .list-toggle {
    background: var(--ultrablack);
  }
  .toggled .list-toggle span {
    background: var(--aqua);
  }
  .copy-button {
    background: var(--aqua);
    color: var(--ultrablack);
  }
  .copy-button:hover {
    background: var(--aqua-hover);
  }

  .video-btn svg {
    fill: var(--aqua);
  }
  .video-btn:hover svg {
    fill: var(--white);
  }
  #play-btn {
    // background: var(--clear);
  }
  .play-video #play-btn span:first-child {
    border-top: 15px solid transparent;
    border-left: 30px solid var(--aqua);
    border-bottom: 15px solid transparent;
  }
  .play-video #play-btn span {
    background: var(--clear);
  }
  #play-btn span {
    background: var(--aqua);
  }
  .play-video #play-btn:hover span:first-child {
    border-top: 15px solid transparent;
    border-left: 30px solid var(--white);
    border-bottom: 15px solid transparent;
  }
  .play-video #play-btn:hover span {
    background: var(--clear);
  }
  #play-btn:hover span {
    background: var(--white);
  }



  // Typo Changes
  h1,
  h2,
  h3 {
    color: var(--aqua);
  }
  h3 {
    color: var(--white);
  }
  .filter-container span {
    color: var(--medblack);
  }
  .filter-container span.active-filter,
  .filter-container span:hover {
     color: var(--white);
  }
  .post-link {
    color: var(--white);
  }
  .post-list li:hover {
    border-bottom: 1px solid var(--aqua);
  }
  .post-list li:hover a {
    color: var(--aqua);
  }
  .fav-descrition {
    color: var(--white);
  }
  .nutrition-container span,
  .nutrition-container strong {
    color: var(--white);
  }
  .recipe-content li {
    color: var(--white);
  }
  .recipe-content li.toggled {
    color: var(--darkgrey);
  }
  ol.instruction-list li:before {
    color: var(--aqua);
  }
}
