<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="test-page">
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8V39RV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->

    {%- include header.html -%}

    {%- include search-modal.html -%}


    <main class="page-content test-content" aria-label="Content">
      {{ content }}
      <p class="footnote" id="footnote"></p>
    </main>

    <div class="notification-mask"></div>


    {%- include footer.html -%}
  </body>

</html>
