---
layout: recipes
---

{% comment %}
Assign Start / End Dates / Time Variables

{%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
{%- assign date_format_no_year = site.minima.date_format | default: "%B %-d" -%}
{%- assign time_format = site.minima.date_format | default: "%l:%M%p" -%}
{%- assign year_format = site.minima.date_format | default: "%Y" -%}


{%- assign start_date = page.eventStart | date: date_format -%}
{%- assign end_date = page.eventEnd | date: date_format -%}
{%- assign start_time = page.eventStart | date: time_format -%}
{%- assign end_time = page.eventEnd | date: time_format -%}
{%- assign start_year = page.eventStart | date: year_format -%}
{%- assign end_year = page.eventEnd | date: year_format -%}

{% comment %} Date Formatting Logic {% endcomment %}

{%- if start_year != end_year -%}
  {%- assign start_date_formatted = page.eventStart | date: date_format -%}
  {%- assign end_date_formatted = page.eventEnd | date: date_format -%}
{% else %}
  {%- assign start_date_formatted = page.eventStart | date: date_format_no_year -%}
  {%- assign end_date_formatted = page.eventEnd | date: date_format -%}
{%- endif -%}

{% endcomment %}



<div class="notification-banner">
  <div class="close-button-trigger">
    <div class="close-button">
      <span></span>
      <span></span>
    </div>
  </div>
  <span class="emoji-holster">&#x1f44d;</span>
  <span class="notification-message" id="copy-notification">Sweet. You copied that like a pro. Now go paste it somewhere.</span>
</div>


<article class="recipe-page">

  {%- assign cals = page.calCount -%}
  {%- assign serving = page.servingsCount -%}
  {%- assign prepTime = page.prepTime -%}
  {%- assign cookTime = page.cookTime -%}

  <div class="recipe-media">
    {%- if page.image or page.video -%}
      {%- if page.image -%}
        <img src="{{ page.image }}" alt="{{ page.imageAltText | escape }}">
      {%- endif -%}

      {%- if page.video -%}
        <div class="video-holster">
          <video width="100%" id="recipe-video" poster="{{ page.videoPoster }}">
            <source src="{{ page.video }}.webm" type="video/webm">
            <source src="{{ page.video }}.mp4" type="video/mp4">
            <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
            <!-- Your browser does not support HTML5 video. -->
          </video>
          <div class="video-controls-holster play-video" id="video-controller">
            <div class="main-controls">
              <span class="video-btn back-btn" id="back-btn">

                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <path d="M19.8,2.5l-8.5,6l8.5,6V2.5z M10.8,14.5v-12l-8.5,6L10.8,14.5z"/>
                <g>
                  <path d="M13.4,17.4h-2.3L11,19h0.1c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.1-0.2,0.2-0.2c0.1-0.1,0.2-0.1,0.3-0.2
                    c0.1,0,0.3-0.1,0.4-0.1c0.2,0,0.4,0,0.6,0.1c0.2,0.1,0.3,0.2,0.5,0.3c0.1,0.1,0.2,0.3,0.3,0.5c0.1,0.2,0.1,0.4,0.1,0.7
                    c0,0.2,0,0.5-0.1,0.7c-0.1,0.2-0.2,0.4-0.4,0.5c-0.2,0.2-0.4,0.3-0.6,0.4c-0.2,0.1-0.5,0.1-0.8,0.1c-0.2,0-0.5,0-0.6-0.1
                    c-0.2-0.1-0.4-0.1-0.5-0.2c-0.1-0.1-0.3-0.2-0.4-0.3c-0.1-0.1-0.2-0.2-0.3-0.4l0.8-0.6c0.1,0.1,0.1,0.2,0.2,0.3
                    c0.1,0.1,0.1,0.2,0.2,0.2c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0.1,0.3,0.1c0.3,0,0.5-0.1,0.6-0.2c0.1-0.1,0.2-0.3,0.2-0.6v-0.1
                    c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.3-0.2-0.6-0.2c-0.2,0-0.4,0-0.5,0.1c-0.1,0.1-0.2,0.2-0.3,0.2l-0.9-0.1l0.2-2.8h3V17.4z"/>
                </g>
                </svg>

              </span>
              <span class="video-btn play-btn" id="play-btn">
                <div>
                  <span></span>
                  <span></span>
                </div>
              </span>
              <span class="video-btn fwd-btn" id="fwd-btn">

                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                <path d="M4.1,14.5l8.5-6l-8.5-6V14.5z M13.1,2.5v12l8.5-6L13.1,2.5z"/>
                <g>
                  <path d="M13.4,17.4h-2.3L11,19h0.1c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.1-0.2,0.2-0.2c0.1-0.1,0.2-0.1,0.3-0.2
                    c0.1,0,0.3-0.1,0.4-0.1c0.2,0,0.4,0,0.6,0.1c0.2,0.1,0.3,0.2,0.5,0.3c0.1,0.1,0.2,0.3,0.3,0.5c0.1,0.2,0.1,0.4,0.1,0.7
                    c0,0.2,0,0.5-0.1,0.7c-0.1,0.2-0.2,0.4-0.4,0.5c-0.2,0.2-0.4,0.3-0.6,0.4c-0.2,0.1-0.5,0.1-0.8,0.1c-0.2,0-0.5,0-0.6-0.1
                    c-0.2-0.1-0.4-0.1-0.5-0.2c-0.1-0.1-0.3-0.2-0.4-0.3c-0.1-0.1-0.2-0.2-0.3-0.4l0.8-0.6c0.1,0.1,0.1,0.2,0.2,0.3
                    c0.1,0.1,0.1,0.2,0.2,0.2c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0.1,0.3,0.1c0.3,0,0.5-0.1,0.6-0.2c0.1-0.1,0.2-0.3,0.2-0.6v-0.1
                    c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.3-0.2-0.6-0.2c-0.2,0-0.4,0-0.5,0.1c-0.1,0.1-0.2,0.2-0.3,0.2l-0.9-0.1l0.2-2.8h3V17.4z"/>
                </g>
                </svg>
              </span>
              <span class="video-btn replay-btn" id="replay-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z"/></svg>
              </span>
            </div>
          </div>
        </div>
      {%- endif -%}
    {% else %}

    <div class="coming-soon">
      <div class="emoji" id="emoji">&#x1f371</div>
      <h2>Media Coming Soon</h2>
    </div>

    {%- endif -%}
  </div>


  <div class="recipe-details">

    <div class="post-header wrapper">
      <div class="post-title">
        <h1>{{ page.title | escape }}</h1>
      </div>

      <div class="favorite-container" data-favorite="{{ page.favorite }}">
        <span class="favorite-flag">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 280.7 268.7" style="enable-background:new 0 0 280.7 268.7;" xml:space="preserve">
          <g>
            <path d="M132.3,235.2l-59.8,31.4c-12.8,6.7-27.7-4.1-25.2-18.3l11.4-66.6c1-5.6-0.9-11.4-5-15.4L5.3,119.2
              c-10.3-10.1-4.6-27.6,9.6-29.7l66.8-9.7c5.7-0.8,10.6-4.4,13.1-9.5l29.9-60.6c6.4-12.9,24.8-12.9,31.2,0l29.9,60.6
              c2.5,5.1,7.4,8.7,13.1,9.5l66.8,9.7c14.3,2.1,20,19.6,9.6,29.7l-48.4,47.1c-4.1,4-6,9.8-5,15.4l11.4,66.6
              c2.4,14.2-12.5,25-25.2,18.3l-59.8-31.4C143.4,232.5,137.3,232.5,132.3,235.2z"/>
          </g>
          </svg>
        </span>
        <span class="fav-descrition">Favorite this recipe</span>
      </div>

      <div class="nutrition-container">

        <div class="nutrition-header">
          <h4>Nutrition Facts</h4>

          <div class="more-info" id="more-info">
            <span class="info-marker">?</span>
          </div>

          <div class="info-message" id="info-message">
            These nutrition facts are, at best, approiximations based on <a href="https://www.myfitnesspal.com/food/search" target="_blank">MFP data</a>. At worst, they're completely wrong.
          </div>
        </div>


        <div class="portion-container">
          <span>Serving Per Recipe </span>
          <span><strong>{{ serving }} Servings</strong></span>
        </div>

        <div class="per-serving-container">
          <h5>Amount per serving</h5>

          <div class="cal-container">
            <span>Calories </span>
            <span><strong>{{ cals }}</strong></span>
          </div>

          <div class="macro-container">
            {%- assign macros = page.macroList -%}
            {%- for macro in macros -%}

            {%- if macro.amount contains 'n/a' -%}
              <div class="macro disabled">
                <span>{{macro.name}}</span>
                <span><strong>{{ macro.amount }}</strong></span>
              </div>
            {% else %}
              <div class="macro">
                <span>{{macro.name}}</span>
                <span><strong>{{ macro.amount }}</strong></span>
              </div>
            {%- endif -%}
            {%- endfor -%}
          </div>
        </div>




        <div class="timing-container">
          <div class="prep-time">
            <div>
              <span class="icon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 12.01 12.01" style="enable-background:new 0 0 12.01 12.01;" xml:space="preserve">
                <g>
                  <rect x="4.28" y="0.51" width="3.8" height="1.5"/>
                  <path d="M10.89,3.78L9.83,2.71L9.06,3.47C8.27,2.82,7.28,2.41,6.18,2.41c-2.51,0-4.55,2.04-4.55,4.55s2.04,4.55,4.55,4.55
                    s4.55-2.04,4.55-4.55c0-0.86-0.26-1.67-0.68-2.35L10.89,3.78z M6.18,10.01c-1.68,0-3.05-1.37-3.05-3.05s1.37-3.05,3.05-3.05
                    s3.05,1.37,3.05,3.05S7.86,10.01,6.18,10.01z"/>
                  <rect x="5.43" y="4.58" width="1.5" height="2.38"/>
                </g>
                </svg>
              </span>
              <span>Prep time:</span>
            </div>

            <span><strong>{{ prepTime }}</strong></span>
          </div>


          <div class="cook-time">
            <div>
              <span class="icon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 viewBox="0 0 12.01 12.01" style="enable-background:new 0 0 12.01 12.01;" xml:space="preserve">
                <g>
                	<path d="M10.51,10.27c-0.23-2.3-2.15-4.1-4.51-4.1c-2.35,0-4.27,1.8-4.5,4.1H0.16v1.5h11.7v-1.5H10.51z M6.01,7.67
                		c1.53,0,2.79,1.13,3.01,2.6H3C3.22,8.8,4.48,7.67,6.01,7.67z"/>
                	<path d="M5.16,4.76C5.01,4.6,4.92,4.39,4.92,4.17c0-0.23,0.09-0.44,0.25-0.6c0.92-0.92,0.92-2.4,0.01-3.32L4.12,1.31
                		c0.16,0.16,0.25,0.37,0.24,0.59c0,0.23-0.09,0.44-0.25,0.6C3.19,3.42,3.19,4.91,4.1,5.82L5.16,4.76z"/>
                	<path d="M7.9,4.76C7.74,4.6,7.65,4.39,7.65,4.16c0-0.23,0.09-0.44,0.25-0.6c0.92-0.92,0.92-2.4,0-3.32L6.85,1.31
                		c0.33,0.33,0.33,0.86,0,1.19C5.93,3.42,5.93,4.9,6.84,5.82L7.9,4.76z"/>
                </g>
                </svg>
              </span>
              <span>Cook time:</span>
            </div>

            <span><strong>{{ cookTime }}</strong></span>
          </div>
        </div>


      </div>

      {% comment %}
      <div class="date-time">
        {%- if start_date != end_date -%}
          <h3>{{ start_date_formatted }} — {{ end_date_formatted }}</h3>
        {% else %}
          <h3>{{ start_date }}</h3>
        {%- endif -%}

        {%- if start_time != end_time -%}
          <h3>{{ start_time }} — {{ end_time }}</h3>
        {% else %}
          <h3>{{ start_time }}</h3>
        {%- endif -%}
      </div>

      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          Last updated: {{ page.date | date: date_format }}
        </time>

        {%- if page.author -%}
          <span class="author">— {{ page.author }}</span>
        {%- endif -%}
      </p>
      {% endcomment %}

    </div>




    <div class="recipe-content">
      <div class="wrapper">

        {{ content }}


        <h2>Grocery List:</h2>

        <div class="flex-wrapper">
          <div class="recipe-container">
            <h3>Ingredients:</h3>
            <ul class="ingredient-list list">
              {%- assign ingredients = page.ingredientList -%}
              {%- for ingredient in ingredients -%}
                <li>
                  <span class="list-toggle">
                    <span></span>
                  </span>
                  {{ingredient.amount}} {{ingredient.name}}
                </li>
              {%- endfor -%}
            </ul>
          </div>

          <div class="recipe-container">
            <h3>Seasoning:</h3>
            <ul class="seasoning-list list">
              {%- assign seasonings = page.seasoningList -%}
              {%- for seasoning in seasonings -%}
                <li>
                  <span class="list-toggle">
                    <span></span>
                  </span>
                  {{seasoning.amount}} {{seasoning.name}}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>

        <div class="instruction-container">
          <h2>Instructions:</h2>
          <ol class="instruction-list list">
            {%- assign instructions = page.instructionList -%}
            {%- for instruction in instructions -%}
              <li>
                {{instruction.step}}
              </li>
            {%- endfor -%}
          </ol>
        </div>


        <form action="" method="">
          <textarea name="name" rows="8" cols="80" id="copyShit">Ingredients:&#13;{%- for ingredient in ingredients -%} {{ingredient.name}} ({{ingredient.amount}})&#13;{%- endfor -%}&#13;Seasonings:&#13;{%- for seasoning in seasonings -%} {{seasoning.name}} ({{seasoning.amount}})&#13;{%- endfor -%}</textarea>
          <button type="button" name="button"></button>
        </form>

        <div class="copy-button-holster">
          <div class="copy-button">
            Copy Grocery List
          </div>
        </div>
      </div>



    </div>

  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
